:root {
  --white: hsl(0, 0%, 100%);
  --black: hsl(100, 100%, 0%);
  --yellow: hsl(60, 100%, 49%);
  --orange: hsl(39, 100%, 50%);
  --grey: hsl(211, 12%, 48%);
  --blue: hsl(240, 100%, 50%);
  --light-grey: hsl(0, 0%, 84%);
}

body,
html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: var(--light-grey);
  color: black;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
}

form * {
  margin: 8px auto;
}

label {
  font-weight: bold;
}

select {
  width: 90%;
  margin: auto;
  border-radius: 15px;
  padding: 8px;
  text-align: center;
  font-size: 1.25rem;
}

.display-area {
  margin: 5% 0;
  background-color: var(--blue);
  min-height: 50vh;
}

.conversion-buttons button {
  margin-top: 8px;
  font-size: 1.5rem;
  padding: 8px 24px;
  border: none;
}

.conversion-buttons button:focus {
  background-color: var(--orange);
}

.fahrenheit {
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.celcius {
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

.processing {
  text-align: center;
  margin: 5% auto;
  font-size: 2rem;
  color: var(--white);
}

.city-name-display {
  font-size: 2rem;
  color: var(--white);
}

.weather-display {
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.weather-block {
  background-color: var(--black);
  color: var(--white);
  border-radius: 10px;
  margin: 5%;
  padding: 16px 0;
}

.date {
  color: var(--yellow);
  margin: 12px;
  font-size: 1.5rem;
}

.icon-display {
  margin: auto;
}

.temps,
.fahrenheits {
  display: block;
  font-weight: bold;
}

.fahrenheits {
  display: none;
}

footer {
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  font-size: 0.75rem;
  padding: 8px auto;
}

footer a {
  text-decoration: none;
  color: var(--white);
}

@media screen and (min-width: 821px) {
  body,
  html {
    height: 100vh;
    width: 100vw;
    display: grid;
  }

  select {
    width: 40%;
  }

  select:hover,
  button:hover {
    cursor: pointer;
    background-color: var(--grey);
  }

  a:hover {
    cursor: pointer;
    color: var(--grey);
  }

  .weather-display {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 95%;
    padding-bottom: 5%;
  }

  .weather-block {
    margin: 8px;
    width: 90%;
  }

  .date {
    font-size: 1rem;
  }
}
