:root {
  --white: hsl(0, 0%, 100%);
  --black: hsl(100, 100%, 0%);
  --yellow: hsl(56, 100%, 50%);
}

body,
html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #d7d7d7;
  color: black;
  text-align: center;
}

.display-area {
  margin: 5% 0;
  background-color: blue;
  min-height: 50vh;
}

.conversion-buttons button {
  margin-top: 8px;
  font-size: 1.5rem;
  padding: 8px 24px;
  border: none;
}

.conversion-buttons button:focus {
  background-color: var(--yellow);
}

.fahrenheit {
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.celcius {
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

.processing {
  text-align: center;
  margin: 5% auto;
  font-size: 2rem;
  color: var(--white);
}

.weather-display {
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.weather-block {
  background-color: var(--black);
  color: var(--white);
  border-radius: 10px;
  margin: 5%;
  padding: 16px 0;
}

.date {
  color: var(--yellow);
}

.icon-display {
  margin: auto;
}

.temps {
  display: block;
}

.fahrenheits {
  display: none;
}

footer {
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  font-size: 0.75rem;
  padding: 8px auto;
}

footer a {
  text-decoration: none;
  color: hsl(0, 0%, 100%);
}

@media screen and (min-width: 600px) {
  body,
  html {
    height: 100vh;
    width: 100vw;
    display: grid;
  }

  .weather-display {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
}
